@import '../../../../../assets/styles/global';

.image {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
}

.container {
  @include full-screen;
  background-color:black;
}

.bottomContainer {
  @include bottomCameraContainer;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  padding: 20px;

  & > span {
    color: $white;
  }
}
