@import '../../../../../assets/styles/global';
@import '../../../../../assets/styles/colors';

.container {
  @include full-screen;
  background-color: black;
}

.bottomContainer {
  @include bottomCameraContainer;
  display: flex;
  justify-content: center;
  align-items: center;
}
