@import "../../../assets/styles/colors";

.container, .containerActive {
  height: 25px;
  padding: 2px;
  width: 60px;
  border-radius: 25px;
  background-color: $grey;
  position: relative;
}

.containerActive {
  background-color: $green;

  & > div {
    left: 60%;
  }
}


.circle {
  $size: 24px;
  height: $size;
  width: $size;
  border-radius: $size/2;
  position:absolute;
  top: 50%;
  left:2px;
  background-color: white;
  transform: translate(0, -50%);
}
