.totalReimbursement {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  & > span {
    margin-left: 40px;
    font-size: 1.4rem;
    font-weight: bold;
  }
}
