@import './colors';

$verticalPadding: 5vh;
$horizontalPadding: 4vw;

@mixin fill-parent {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

@mixin full-screen {
  position: absolute;
  top: 0;
  left: 0;
  height: 85vh;
  width: 100vw;
}

@mixin bottomCameraContainer {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  background-color: black;
  transform: translateY(10px);
}

.page {
  @include full-screen;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

.camera {
  position: absolute;
  top: 0;
  left: 0;
  height:85vh;
}

svg[class*="red"] {
  fill: $red;
}

